.wrapper {
  position: relative;
  // bottom: 289px;
  margin-top: -208px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .directionSearchHeader {
    width: 964px;
    height: 41.4px;
    font-size: 25.2px;
    font-weight: 500;
    color: #212121;
    margin: auto;
  }
  .container {
    margin: auto;
    width: 964px;
    max-height: 700.2px;

    display: flex;
    justify-content: space-between;

    main {
      .inputWrapper {
        width: 705px;
        height: 48.6px;
        display: flex;
        margin-top: 24.3px;
        input {
          width: 536px;
          height: 48.6px;
          border-radius: 6px 0 0 6px;
          border: 1px solid #dadce0;
          padding-left: 19.8px;
          font-size: 11.7px;
          color: #797c80;
          outline: none;
        }
        button {
          width: 169.2px;
          height: 48.6px;
          background-color: #2b95ff;
          border-radius: 0 6px 6px 0;
          color: #fff;
          font-size: 11.7px;
          cursor: pointer;
          outline: none;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          span:nth-child(2) {
            margin-top: 3.6px;
            position: relative;
            left: 34.2px;
            svg {
              width: 16.2px;
              height: 16.2px;
            }
          }
        }
      }

      ul {
        width: 705px;
        max-height: 486px;
        list-style-position: inside;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 35.1px;

        li {
          width: 261px;
          margin-bottom: 16.2px;
          color: #212121;
          font-size: 8px;
          span {
            position: relative;
            top: 1.8px;
            left: -0.9px;
            font-size: 11.7px;
          }
        }
      }
    }
    .subscribeDiscount {
      position: relative;
      bottom: 40px;
    }
  }
}

@media screen and (max-width: 1140px) {
  .wrapper {
    .directionSearchHeader {
      width: 662px;
    }
    .container {
      width: 662px;

      main {
        .inputWrapper {
          width: 662px;

          input {
            width: 492.8px;
          }
        }

        ul {
          width: 662px;

          li {
            width: 241px;
          }
        }
      }
      .subscribeDiscount {
        display: none;
      }
    }
  }
}
