.passengerC {
  position: relative;
  height: 48px;
  width: 286px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: rgba(33, 33, 33, 0);
  transition: 0.2s ease-in-out;
  color: #151a1c;
  font-weight: 500;
  background-color: #fff;
  font-size: 12px;
  border-bottom: 1px solid #dfe3e6;
  margin-left: auto;
  margin-right: auto;

  .passengerPlaceholder {
    position: absolute;
    top: 5px;
    left: 0px;
    font-size: 9px;
    opacity: 1;
    color: #abadaf;
    text-transform: uppercase;
  }

  & > div {
    width: 100%;
    width: 155px;
    margin-left: 0px;
    margin-top: 5px;
    & > span:nth-child(2) {
      position: relative;
      right: 6px;
      width: 80px;
      display: inline-block;
      left: 5px;
    }

    & > .type {
      position: relative;
      right: 14px;
      min-width: 68px;
    }
  }

  svg {
    width: 11.5px;
    height: 11.5px;
    border-radius: 20px;
    transition: 0.2s ease;
    margin-right: 19px;
    position: absolute;
    right: -1px;
    top: 18px;
    visibility: hidden;
  }
  .nrP {
    margin-left: 0px;
  }
}

.passengerCMultiCity {
  width: 349px !important;
  margin-left: 7px;
  border-radius: 4px;

  &:hover {
    background-color: #ededed !important;
  }
}
.positionLeft {
  right: 8.5px;
}
