.container {
  width: 90vw;
  height: 109px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .flightDetails {
    margin-top: 22px;
    .top {
      display: flex;
      align-items: center;

      .fromTo {
        margin-bottom: 2px;
        font-size: 17px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0;
        color: #333;
      }
    }
    .bottom {
      margin-top: 2px;
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      color: #959ba4;
      letter-spacing: 0;
    }
  }
}
