// 90% of originalSize

.container {
  width: 964px;
  margin: auto;
  height: 700.2px;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: -289px;
  margin-bottom: 50px;

  h1 {
    width: 280.6px;
    height: 41.4px;
    font-size: 25.2px;
    font-weight: 500;
    color: #212121;
  }
  main {
    .inputWrapper {
      width: 705px;
      height: 48.6px;
      display: flex;
      margin-top: 24.3px;
      input {
        width: 536px;
        height: 48.6px;
        border-radius: 6px 0 0 6px;
        border: 1px solid #dadce0;
        padding-left: 19.8px;
        font-size: 11.7px;
        color: #797c80;
        outline: none;
      }
      button {
        width: 169.2px;
        height: 48.6px;
        background-color: #2b95ff;
        border-radius: 0 6px 6px 0;
        color: #fff;
        font-size: 11.7px;
        cursor: pointer;
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        span:nth-child(2) {
          margin-top: 3.6px;
          position: relative;
          left: 34.2px;
          svg {
            width: 16.2px;
            height: 16.2px;
          }
        }
      }
    }

    .alphabetIndex {
      width: 705px;
      height: 40.5px;
      border-top: 1.5px solid #e4e6eb;
      border-bottom: 1.5px solid #e4e6eb;
      display: flex;
      align-items: center;
      margin-top: 34.2px;
      span {
        position: relative;
        width: 34px;
        height: 41.4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11.7px;
        cursor: pointer;
        transition: 0.1s ease background-color;
        .arrowDown {
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          bottom: -5px;
          width: 9px;
          height: 5px;
          display: none;
        }
      }
      .selectedLetter {
        background-color: #e6f3ff;
        border: 1px solid #59acff;
        border-radius: 6px;
        span {
          display: inline-flex;
        }
      }
    }

    ul {
      width: 705px;
      height: 486px;
      list-style-position: inside;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 35.1px;

      li {
        width: 261px;
        margin-bottom: 16.2px;
        color: #212121;
        font-size: 8px;
        span {
          position: relative;
          top: 1.8px;
          left: -0.9px;
          font-size: 11.7px;
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .container {
    width: 662px;
    margin: auto;
    height: 700.2px;
    display: flex;
    justify-content: space-between;
    position: relative;
    // bottom: 289px;
    margin-top: -289px;
    margin-bottom: 50px;

    h1 {
      width: 210.6px;
      height: 41.4px;
      font-size: 25.2px;
      font-weight: 500;
      color: #212121;
    }
    main {
      .inputWrapper {
        width: 662px;
        height: 48.6px;
        display: flex;
        margin-top: 24.3px;
        input {
          // width: 685.8px;
          width: 492.8px;
          height: 48.6px;
          border-radius: 6px 0 0 6px;
          border: 1px solid #dadce0;
          padding-left: 19.8px;
          font-size: 11.7px;
          color: #797c80;
          outline: none;
        }
        button {
          width: 169.2px;
          height: 48.6px;
          background-color: #2b95ff;
          border-radius: 0 6px 6px 0;
          color: #fff;
          font-size: 11.7px;
          cursor: pointer;
          outline: none;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          span:nth-child(2) {
            margin-top: 3.6px;
            position: relative;
            left: 34.2px;
            svg {
              width: 16.2px;
              height: 16.2px;
            }
          }
        }
      }

      .alphabetIndex {
        width: 662px;
        height: 40.5px;
        border-top: 1.5px solid #e4e6eb;
        border-bottom: 1.5px solid #e4e6eb;
        display: flex;
        align-items: center;
        margin-top: 34.2px;
        span {
          position: relative;
          width: 34px;
          height: 41.4px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 11.7px;
          cursor: pointer;
          transition: 0.1s ease background-color;
          .arrowDown {
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            bottom: -5px;
            width: 9px;
            height: 5px;
            display: none;
          }
        }
        .selectedLetter {
          background-color: #e6f3ff;
          border: 1px solid #59acff;
          border-radius: 6px;
          span {
            display: inline-flex;
          }
        }
      }

      ul {
        width: 662px;
        height: 486px;
        list-style-position: inside;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 35.1px;

        li {
          width: 241px;
          margin-bottom: 16.2px;
          color: #212121;
          font-size: 8px;
          span {
            position: relative;
            top: 1.8px;
            left: -0.9px;
            font-size: 11.7px;
          }
        }
      }
    }
    .subscribeDiscount {
      display: none;
    }
  }
}
