.container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1200;
  display: block;
  overflow: hidden;

  & > .heading {
    font-size: 16px;
    font-weight: 600;
    height: 44px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdd4de;

    .title {
      font-size: 13px;
      font-weight: 600;
      color: #0c131d;
    }

    .closeIcon {
      position: absolute;
      // bottom: 3px;
      z-index: 111;
      right: 5px;
      right: 0;
      height: 44px;
      width: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      & > svg {
        fill: #0c73fe;
        width: 17px;
        height: 17px;
      }
    }
  }

  .doneButtonC .doneButton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13x;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    border: none;
    height: 44px;
    width: 88%;
    cursor: pointer;
    outline: none;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 2000;
    bottom: 19px;
    background-color: #ff6d00;
    box-shadow: 0 1px 0 0 #d84d00, 0 2px 1px 0 rgba(0, 0, 0, 0.1);
  }
}

.slideRight {
  animation: slideRightAnimation 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slideRightAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
