.carRelatedQA {
  margin-top: 50px;
  width: 91.78vw;

  & > header {
    width: 91.78vw;

    & > div:nth-child(1) {
      color: #212121;
      font-size: 17px;
      line-height: 25px;
    }
    & > div:nth-child(2) {
      margin-top: 10px;
      color: #3c3c3c;
      font-size: 11px;
      line-height: 19px;
    }
  }
  & > main {
    width: 91.78vw;
    margin-top: 30px;

    .qaContainer {
      width: 91.78vw;
      margin-top: 32px;
      & > div:nth-child(1) {
        line-height: 21px;
        color: #212121;
        font-size: 13px;
        font-weight: 500;
      }
      & > div:nth-child(2) {
        margin-top: 14px;
        color: #3c3c3c;
        font-size: 11px;
        line-height: 19px;
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .carRelatedQA {
    width: 344.17px;

    & > header {
      width: 344.17px;
    }
    & > main {
      width: 344.17px;

      .qaContainer {
        width: 344.17px;
      }
    }
  }
}
@media screen and (min-width: 414px) {
  .carRelatedQA {
    width: 83.13vw;

    & > header {
      width: 83.13vw;
    }
    & > main {
      width: 83.13vw;

      .qaContainer {
        width: 83.13vw;
      }
    }
  }
}
@media screen and (min-width: 500px) {
  .carRelatedQA {
    width: 86vw;

    & > header {
      width: 86vw;
    }
    & > main {
      width: 86vw;

      .qaContainer {
        width: 86vw;
      }
    }
  }
}
