// 90% of originalSize
.container {
  width: 964px;
  height: 247.5px;
  margin: auto;
  margin-top: 136px;

  .heading {
    width: 383.4px;
    height: 67.5px;
    & > span {
      display: block;
    }
    .title {
      font-size: 25.2px;
    }
    .subtitle {
      margin-top: 10.8px;
      font-size: 10.8px;
      color: #77787a;
    }
  }
  .categories {
    width: 964px;
    height: 103.5px;
    display: flex;
    justify-content: space-between;
    margin-top: 23px;

    .category {
      width: 180px;
      // width: 170.4px;
      height: 103.5px;
      border-radius: 6px;
      background-color: #fff;
      display: flex;
      align-items: center;
      padding-bottom: 19.8px;

      .icon {
        margin-left: 26.1px;
      }
      .text {
        font-size: 11.7px;
        line-height: 20.7px;
        display: inline-block;
        margin-left: 12.6px;
      }
    }
    .category:nth-child(1) {
      .text {
        width: 83.7px;
        padding-top: 6.3px;
      }
    }
    .category:nth-child(2) {
      .text {
        width: 117px;
        padding-top: 6.3px;
      }
    }
    .category:nth-child(3) {
      .text {
        width: 98.1px;
        padding-bottom: 10.8px;
      }
    }
    .category:nth-child(4) {
      .text {
        width: 63px;
        padding-bottom: 10.8px;
      }
    }
    .category:nth-child(5) {
      .text {
        width: 93.6px;
        padding-top: 4.5px;
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .container {
    width: 662px;

    .categories {
      width: 662px;
      height: 243.5px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;

      .category {
        margin-right: 20px;
      }
    }
  }
}
