.checkBoxWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  height: 59px;
  margin: auto;
  .name {
    color: #333;
    user-select: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 30px;
    .checkBoxContainer {
      transition: all 0.2s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      font-size: 12px;
      user-select: none;
      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      background-color: #ecf1f7;
    }
    .checkBoxContainerChecked {
      background-color: #ffdd2d !important;
      background-image: url("/images/checkbox_check_image.svg") !important;
    }
  }
}

.checkboxDisabled {
  .wrapper {
    opacity: 0.5 !important;
  }
}
