// 90% of originalSize
.container {
  width: 964px;
  min-height: 1035.9px;
  margin: auto;
  margin-top: 21.6px;
  .ticketContainer {
    width: 964px;
    min-height: 133.2px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
    & > div:nth-child(1) {
      margin-left: 0;
    }
  }

  .clickedTicketContainer {
    width: 964px;
    min-height: 133.2px;
    margin-top: 30.6px;
    .toMyTicketsHeader {
      width: 234px;
      height: 30.6px;
      display: flex;
      align-items: center;
      margin-bottom: 28.8px;
      & > span:nth-child(1) {
        cursor: pointer;
      }
      & > span:nth-child(2) {
        margin-left: 21.6px;
        margin-bottom: 1.8px;
        font-size: 16.2px;
        font-weight: 500;
        color: #333333;
      }
    }
    .bookingNrContainer {
      width: 620px;
      height: 133.2px;
      background-color: #e9edf5;
      border-radius: 6px;

      .bnCard {
        width: 189.9px;
        height: 72px;
        background-color: #f5f7fa;
        border-radius: 6px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        margin-top: 27px;
        margin-left: 28.98px;

        & > div:nth-child(1) {
          font-size: 9px;
          font-weight: 500;
          color: #787b82;
          margin-top: 18.9px;
          position: relative;
          right: 20.5px;
        }
        & > div:nth-child(2) {
          font-size: 15.3px;
          font-weight: 500;
          margin-top: 1.8px;
        }
      }
    }
  }
}

@media screen and (max-width: 1140px) {
  .container {
    width: 662px;

    .ticketContainer {
      width: 662px;
    }

    .clickedTicketContainer {
      width: 662px;

      .bookingNrContainer {
        width: 445px;
      }
    }
  }
}
