$borderInputColor: #d2d5d9;
$inputBgColorBlur: #e4e6eb;
$placeholderTopColor: #797c80;
$warningRed: #dd5656;

.container {
  width: 666px;
  height: 612px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 91px;
  .heading {
    width: inherit;
    height: 87.3px;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 27px;

    .title {
      font-size: 27.9px;
      color: #333333;
      margin-bottom: 22.5px;
      line-height: 23.4px;
    }
    .subtitle {
      font-size: 11.7px;
      color: #797c80;
      line-height: 22.5px;
    }
  }

  main {
    margin: auto;
    width: 526.5px;
    height: 531px;
    margin-top: -7.2px;

    .passwordC {
      width: 360px;
      height: 54px;
      margin: auto;
      margin-top: 0px;

      label {
        position: relative;
        display: block;

        .passwordVisibilityIcon {
          position: absolute;
          right: 17.1px;
          top: 22.68px;
          font-size: 11.7px;
          cursor: pointer;
          display: none;
        }

        input {
          position: relative;
          font-size: 11.7px;
          width: 360px;
          height: 54px;
          padding-left: 18.9px;
          padding-top: 15.3px;
          border-radius: 6px;
          border: 1px solid $borderInputColor;
          background-color: $inputBgColorBlur;
          outline: none;

          &:focus {
            background-color: #fff;
          }
          &:not([value=""]):not(:focus) {
            background-color: #fff;
          }

          &:focus ~ .passwordPlaceholder,
          &:not([value=""]):not(:focus) ~ .passwordPlaceholder {
            position: absolute;
            top: 11.7px;
            left: 18.9px;
            font-size: 9px;
            opacity: 1;
            color: $placeholderTopColor;
          }

          &:focus ~ .iconArrowNext,
          &:not(:focus):valid ~ .iconArrowNext {
            background-color: #0080ff;
          }
        }

        .passwordPlaceholder {
          position: absolute;
          pointer-events: none;
          left: 18.9px;
          top: 21.6px;
          transition: all 0.2s ease;
          font-size: 11.7px;
          user-select: none;
        }
        .iconArrowNext {
          position: absolute;
          top: 0;
          right: 0;
          width: 99px;
          height: 54px;
          background-color: #d2d4d9;
          border-radius: 0 6px 6px 0;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: all 0.2s ease;
        }
      }
    }
    .actionsGroup {
      height: 82.8px;
      margin: auto;
      margin-top: 35.1px;
      width: 122px;
      a {
        text-decoration: none;
        display: block;
        color: #0080ff;
        font-size: 11.7px;
        cursor: pointer;
        transition: all 0.2s ease;
        text-align: center;
        margin-bottom: 13.5px;
        text-align: center;
        &:hover {
          opacity: 0.9;
        }
      }
    }
    .bottomMessage {
      font-size: 9px;
      color: #919599;
      text-align: center;
      margin-top: 49.5px;
    }
  }
}

.warningBorder {
  border: 1px solid $warningRed !important;
}
.requiredFieldShow,
.numberNotValidShow,
.emailNotValidShow {
  display: inline-block !important;
  font-size: 10.8px;
  color: $warningRed;
  margin-top: 3.6px;
  margin-left: 18.9px;
}
