$borderInputColor: #d2d5d9;
$inputBgColorBlur: #e4e6eb;
$placeholderTopColor: #797c80;
$warningRed: #dd5656;

.container {
  width: 100%;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 94px;

  .heading {
    width: 89.33vw;
    height: 87.3px;
    margin: auto;

    margin-top: 30px;
    margin-bottom: 27px;

    .title {
      font-size: 27px;
      color: #333333;
      margin-bottom: 18.5px;
      line-height: 23.4px;
    }
    .subtitle {
      font-size: 11.7px;
      color: #797c80;
      line-height: 22.5px;
    }
  }

  main {
    margin: auto;
    width: 89.33vw;
    height: 531px;
    font-size: 11.7px;

    .formEntryPoint {
      margin-top: 80px;
      width: 89.33vw;
      height: 54px;
      padding-left: 18px;
      background-color: $inputBgColorBlur;
      border-radius: 6px;
      display: flex;
      align-items: center;
      border: 1px solid $borderInputColor;
      position: relative;
      padding-top: 5px;
    }

    .actionsGroup {
      width: 89.33vw;
      height: 82.8px;
      margin: auto;
      margin-top: 44.1px;
      a {
        text-decoration: none;
        display: block;
        color: #0080ff;
        font-size: 11.7px;
        cursor: pointer;
        transition: all 0.2s ease;
        text-align: center;
        margin-bottom: 13.5px;
        text-align: center;
        &:hover {
          opacity: 0.9;
        }
      }
    }
    .bottomMessage {
      font-size: 10px;
      color: #919599;
      text-align: center;
      margin-top: 48.5px;
      line-height: 20px;
    }

    .phoneNrModalContainer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 96.84%;
      background-color: #fff;
      border-radius: 10px 10px 0 0;
      z-index: 20;

      .navigationContainer {
        position: relative;
        display: flex;
        align-items: center;
        width: 89.33vw;
        height: 25px;
        margin: auto;
        margin-top: 40px;

        & > div:nth-child(1) {
          position: absolute;
          right: 0;
        }
      }

      header {
        margin: auto;
        margin-top: 30px;
        width: 89.33vw;
        height: 32px;
        font-size: 20px;
        color: #000;

        .pastInputContent {
          color: #808080;
          height: 19px;
          font-size: 10px;
          margin-top: 7px;
        }
      }
      .phoneNrC {
        width: 89.33vw;

        height: 54px;
        margin: auto;
        margin-top: 50px;

        label {
          position: relative;
          display: block;
          width: 89.33vw;

          height: 54px;
          margin: auto;
          .phonePrefix {
            position: absolute;

            left: 18.09px;
            top: 26.01px;
            z-index: 1;
            font-size: 11.7px;
            cursor: text;
            display: none;
          }

          input {
            position: relative;
            font-size: 11.7px;
            width: 89.33vw;

            height: 54px;
            padding-left: 18.9px;
            padding-left: 49.5px;
            padding-top: 13.5px;
            border-radius: 6px;
            border: 1px solid $borderInputColor;
            background-color: $inputBgColorBlur;
            outline: none;

            &:focus {
              background-color: #fff;
            }
            &:not([value=""]):not(:focus) {
              background-color: #fff;
            }

            &:focus ~ .phoneNrPlaceholder,
            &:not(:focus):valid ~ .phoneNrPlaceholder {
              position: absolute;
              top: 11.7px;
              left: 18px;
              font-size: 9px;
              opacity: 1;
              color: $placeholderTopColor;
            }
          }

          .phoneNrPlaceholder {
            position: absolute;
            pointer-events: none;
            left: 18px;
            top: 21.6px;
            transition: all 0.2s ease;
            font-size: 11.7px;
            user-select: none;
          }
        }

        .requiredField {
          display: none;
        }
        .numberNotValid {
          display: none;
        }
      }
      .toNextInputBtn {
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        background-color: #0080ff;
        z-index: 2;
        position: fixed;
        bottom: 0;

        span:nth-child(2) {
          position: absolute;
          right: 17.5px;
          top: 15px;
        }
      }
    }
    .passwordModalContainer {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 96.84%;
      background-color: #fff;
      border-radius: 10px 10px 0 0;
      z-index: 10;

      .navigationContainer {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        width: 89.33vw;
        margin: auto;

        height: 25px;
        margin-top: 40px;
        & > div:nth-child(1) {
          position: relative;
          left: 0;
          bottom: 5px;
          svg {
            position: relative;
            right: 18.5px;
            width: 44px;
            height: 44px;
          }
        }
      }

      header {
        margin: auto;
        margin-top: 30px;
        width: 89.33vw;
        height: 32px;
        font-size: 20px;
        color: #000;

        .pastInputContent {
          color: #808080;
          height: 19px;
          font-size: 10px;
          margin-top: 7px;
        }
      }
      .passwordC {
        width: 89.33vw;

        height: 54px;
        margin: auto;
        margin-top: 50px;

        label {
          position: relative;
          display: block;

          .passwordVisibilityIcon {
            position: absolute;
            right: 17.1px;
            top: 22.68px;
            font-size: 11.7px;
            cursor: pointer;
            display: none;
          }

          input {
            position: relative;
            font-size: 11.7px;
            width: 89.33vw;

            height: 54px;
            padding-left: 18.9px;
            padding-top: 15.3px;
            border-radius: 6px;
            border: 1px solid $borderInputColor;
            background-color: $inputBgColorBlur;
            outline: none;

            &:focus {
              background-color: #fff;
            }
            &:not([value=""]):not(:focus) {
              background-color: #fff;
            }

            &:focus ~ .passwordPlaceholder,
            &:not([value=""]):not(:focus) ~ .passwordPlaceholder {
              position: absolute;
              top: 11.7px;
              left: 18.9px;
              font-size: 9px;
              opacity: 1;
              color: $placeholderTopColor;
            }
          }

          .passwordPlaceholder {
            position: absolute;
            pointer-events: none;
            left: 18.9px;
            top: 21.6px;
            transition: all 0.2s ease;
            font-size: 11.7px;
            user-select: none;
          }
        }
      }
      .actionsGroup {
        width: 89.33vw;
        height: 82.8px;
        margin: auto;
        margin-top: 35.1px;
        a {
          text-decoration: none;
          display: block;
          color: #0080ff;
          font-size: 11.7px;
          cursor: pointer;
          transition: all 0.2s ease;
          text-align: center;
          margin-bottom: 13.5px;
          text-align: center;
          pointer-events: none;
          span {
            pointer-events: auto;
          }
          &:hover {
            opacity: 0.9;
          }
        }
      }
      .toNextInputBtn {
        width: 100%;
        height: 54px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        font-size: 13px;
        font-weight: 500;
        background-color: #0080ff;
        z-index: 2;
        position: fixed;
        bottom: 0;

        span:nth-child(2) {
          position: absolute;
          right: 17.5px;
          top: 15px;
        }
      }
    }
  }
}

.warningBorder {
  border: 1px solid $warningRed !important;
}
.requiredFieldShow,
.numberNotValidShow,
.emailNotValidShow {
  display: inline-block !important;
  font-size: 10.8px;
  color: $warningRed;
  margin-top: 3.6px;
  margin-left: 18.9px;
}

.slideUp {
  animation: slideUpAnimation 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slideDown {
  animation: slideDownAnimation 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slideLeft {
  animation: slideLeftAnimation 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.displayBlock {
  display: block !important;
}
.displayNone {
  display: none;
}

@keyframes slideUpAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideDownAnimation {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes slideLeftAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 375px) {
  .container {
    .heading {
      width: 344.17px;
    }

    main {
      width: 344.17px;

      .formEntryPoint {
        width: 344.17px;
      }

      .actionsGroup {
        width: 344.17px;
      }

      .phoneNrModalContainer {
        .navigationContainer {
          width: 344.17px;
        }

        header {
          width: 344.17px;
        }
        .phoneNrC {
          width: 344.17px;

          label {
            width: 344.17px;

            input {
              width: 344.17px;
            }
          }
        }
      }
      .passwordModalContainer {
        .navigationContainer {
          width: 344.17px;
        }

        header {
          width: 344.17px;
        }
        .passwordC {
          width: 344.17px;

          label {
            input {
              width: 344.17px;
            }
          }
        }
        .actionsGroup {
          width: 344.17px;
        }
      }
    }
  }
}

@media screen and (min-width: 414px) {
  .container {
    .heading {
      width: 83.13vw;
    }

    main {
      width: 83.13vw;

      .formEntryPoint {
        width: 83.13vw;
      }

      .actionsGroup {
        width: 83.13vw;
      }

      .phoneNrModalContainer {
        .navigationContainer {
          width: 83.13vw;
        }

        header {
          width: 83.13vw;
        }
        .phoneNrC {
          width: 83.13vw;

          label {
            width: 83.13vw;

            input {
              width: 83.13vw;
            }
          }
        }
      }
      .passwordModalContainer {
        .navigationContainer {
          width: 83.13vw;
        }

        header {
          width: 83.13vw;
        }
        .passwordC {
          width: 83.13vw;

          label {
            input {
              width: 83.13vw;
            }
          }
        }
        .actionsGroup {
          width: 83.13vw;
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .container {
    .heading {
      width: 86vw;
    }

    main {
      width: 86vw;

      .formEntryPoint {
        width: 86vw;
      }

      .actionsGroup {
        width: 86vw;
      }

      .phoneNrModalContainer {
        .navigationContainer {
          width: 86vw;
        }

        header {
          width: 86vw;
        }
        .phoneNrC {
          width: 86vw;

          label {
            width: 86vw;

            input {
              width: 86vw;
            }
          }
        }
      }
      .passwordModalContainer {
        .navigationContainer {
          width: 86vw;
        }

        header {
          width: 86vw;
        }
        .passwordC {
          width: 86vw;

          label {
            input {
              width: 86vw;
            }
          }
        }
        .actionsGroup {
          width: 86vw;
        }
      }
    }
  }
}
