.container {
  position: fixed;
  z-index: 1000000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;

  .overlay {
    width: 100%;
    height: 100%;
    background-color: #3e4757;
    animation: fadeInOpacity 0.3s ease-in-out forwards;
    will-change: opacity;
    opacity: 0;
    z-index: 10000000;
    overflow-y: hidden !important;
  }
  .overlayAnimDown {
    animation: fadeOutOpacity 0.3s ease-in-out forwards !important;
    opacity: 0.6;
  }

  .wrapper {
    padding: 0;
    min-height: 469px;
    border-radius: 12px 12px 0 0;
    position: absolute;
    max-height: 100%;
    width: 100%;
    background-color: #fff;
    transition: all 0.3s cubic-bezier(0.59, 0.18, 0.01, 1.05),
      -webkit-transform 0.3s cubic-bezier(0.59, 0.18, 0.01, 1.05);
    z-index: 1000400 !important;

    .closeLineIcon {
      width: 100%;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        rect {
          fill: rgba(199, 201, 204, 0.5);
        }
      }
    }
    .header {
      padding-top: 10px;
      padding-bottom: 14px;
      text-align: center;
      .title {
        font-size: 16.3px;
        line-height: 24px;
        font-weight: 500;
        letter-spacing: 0;
        color: #333;
      }

      .subtitle {
        margin-top: 2px;
        color: #959ba4;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: 0;
      }
    }

    .scrollableContainer {
      height: 300px;
      padding-bottom: 20px;
      overflow-x: hidden;
      overflow-y: scroll;

      .aboutTime {
        width: 90vw;
        margin: auto;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        margin-top: 12px;
        margin-bottom: 20px;
        color: #9299a2;
        letter-spacing: 0;
      }
      .transferInfo {
        width: 100vw;
        height: 58px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        padding: 12px 16px;
        background: rgba(0, 0, 0, 0.04);
        font-size: 13px;
        line-height: 16px;
        font-weight: 400;
        letter-spacing: 0;
        display: flex;
        .tiWrapper {
          width: 90vw;
          display: inline-flex;
          align-items: flex-start;
          margin-left: auto;
          margin-right: auto;

          .duration {
            color: #e01f19;
            padding-right: 4px;
            width: 69px;
            flex-shrink: 0;
            font-size: 12px;
            line-height: 16px;
            font-weight: 500;
            letter-spacing: 0;
          }
          .locationWrapper {
            font-size: 12px;
            line-height: 16px;
            font-weight: 400;
            letter-spacing: 0;
            color: #333;
            .comment {
            }
            .location {
              margin-top: 1px;
            }
          }
        }
      }

      .flightSegment {
        width: 90vw;
        height: 250px;
        margin: auto;

        .upper {
          width: 280px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 16px;
          .logo {
            width: 43px;
            height: 43px;
            svg {
              width: 43px;
              height: 43px;
            }
          }
          .desc {
            .aircompanyName {
              color: #333;
              font-size: 16px;
              line-height: 24px;
              font-weight: 400;
              letter-spacing: 0;
            }
            .flightDetails {
              color: #9299a2;
              white-space: pre-wrap;
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              letter-spacing: 0;
            }
          }
        }
        .lower {
          width: 280px;
          height: 172px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .timesAndDuration {
            width: 70px;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &:after {
              content: "";
              position: absolute;
              width: 2px;
              background: #333;
              border-radius: 1px;
              height: 99%;
              right: 0;
              top: 4.1px;
            }
            .dep,
            .arr {
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              letter-spacing: 0;
              .time {
                color: #333;
                font-size: 15.5px;
                line-height: 24px;
                font-weight: 500;
                letter-spacing: 0;
              }
              .date {
                color: #9299a2;
                margin-top: 2px;
                font-size: 12px;
                line-height: 16px;
                font-weight: 400;
              }
            }
            .duration {
              font-size: 12.5px;
              line-height: 16px;
              font-weight: 400;
              letter-spacing: 0;
              color: #333;
            }
          }
          .locationsAndBaggage {
            height: 100%;
            width: 208px;
            padding-left: 12.2px;

            .dep,
            .arr {
              font-size: 12px;
              line-height: 16px;
              font-weight: 400;
              letter-spacing: 0;
              height: 42px;
              .city {
                color: #333;
                font-size: 15px;
                line-height: 24px;
                font-weight: 500;
                letter-spacing: 0;
              }
              .code {
                color: #9299a2;
                margin-top: 1px;
              }
            }
            .baggage {
              margin-top: 20px;
              margin-bottom: 20px;
              width: 100%;
              height: 50px;
              .upper {
                display: flex;
                align-items: center;
                min-width: 140px;
                justify-content: flex-start;

                .icon {
                  position: relative;
                  top: -2px;
                  width: 23px;
                  height: 23px;
                  svg {
                    width: 23px;
                    height: 23px;
                    path {
                      fill: rgb(149, 155, 164);
                    }
                  }
                }
                .text {
                  margin-left: 4px;
                  font-size: 12px;
                  line-height: 16px;
                  font-weight: 400;
                  letter-spacing: 0;
                }
              }
              .lower {
                display: flex;
                align-items: center;
                min-width: 140px;
                justify-content: flex-start;
                height: 24px;
                margin-top: 1px;
                .iconWrapper {
                  position: relative;
                  top: -2px;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  .icon {
                    width: 24px;
                    height: 24px;
                    svg {
                      width: 24px;
                      height: 24px;
                      path {
                        fill: #333;
                      }
                    }
                  }
                  .count {
                    color: #333;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    top: 8px;
                    width: 24px;
                    font-size: 9px;
                    line-height: 12px;
                    font-weight: 600;
                  }
                }
                .text {
                  margin-left: 4px;
                  font-size: 12px;
                  line-height: 16px;
                  font-weight: 400;
                  letter-spacing: 0;
                }
              }
            }
          }
        }
      }
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 78px;
      z-index: 100 !important;
      background-color: #fff;

      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 24px;
        top: -24px;
        left: 0;
        right: 0;
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.05),
          2px,
          rgba(0, 0, 0, 0.03),
          12px,
          transparent
        );
      }
      .priceWrapper {
        .title {
          margin-bottom: 2px;
          font-size: 18px;
          line-height: 28px;
          font-weight: 600;
          color: #333;
        }
        .subtitle {
          color: #959ba4;
          font-size: 12px;
          line-height: 16px;
          font-weight: 400;
        }
      }
      .showButton {
        display: flex;
        justify-content: center;
        align-items: center;
        transition-property: background-color, border, box-shadow;
        transition-duration: 0.25s;
        transition-timing-function: ease;
        color: #333;
        border: 1px solid #ffdd2d;
        background-color: #ffdd2d;
        padding: 9px 23px 7px;
        min-height: 42px;
        min-width: 32px;
        width: 100px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        letter-spacing: 0;
        border-radius: 6px;
      }
    }
  }
  .wrapperAnimUp {
    animation: slideUp 0.3s cubic-bezier(0.59, 0.18, 0.01, 1.05) forwards;
    transform: translateY(-469px);
    bottom: -100%;
    will-change: transform;
  }
  .wrapperAnimDown {
    animation: slideDown 0.3s cubic-bezier(0.59, 0.18, 0.01, 1.05) forwards;
    transition: all 0.3s cubic-bezier(0.59, 0.18, 0.01, 1.05),
      -webkit-transform 0.3s cubic-bezier(0.59, 0.18, 0.01, 1.05);
    will-change: transform, bottom;
    transform: translateY(0);
    bottom: 0;
  }
}

@keyframes slideUp {
  100% {
    transform: translateY(0);
    bottom: 0;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    bottom: 0;
  }
  100% {
    transform: translateY(-169px);
    bottom: -100%;
  }
}
@keyframes fadeInOpacity {
  100% {
    opacity: 0.6;
  }
}
@keyframes fadeOutOpacity {
  100% {
    opacity: 0;
  }
}
