.nearCityAirports {
  margin-top: 70px;
  width: 705px;

  header {
    .title {
      font-size: 21px;
      font-weight: 500;

      color: #212121;
    }
    .subtitle {
      margin-top: 10px;
      font-size: 12px;
      color: #3c3c3c;
    }
  }
  main {
    display: flex;
    justify-content: space-between;

    .airportCardContainer {
      margin-top: 25px;
      width: 320px;
      height: 82px;
      background-color: #fff;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      & > div {
        margin-left: 20px;
      }
      .title {
        font-size: 15px;
        color: #212121;
      }
      .subtitle {
        position: relative;
        top: 3px;
        color: #797c80;
        font-size: 11px;
      }
    }
  }
  footer {
    margin-top: 50px;
    .question {
      font-size: 21px;
      font-weight: 500;

      color: #212121;
    }
    .answer {
      margin-top: 10px;
      font-size: 12px;
      color: #3c3c3c;
      line-height: 23px;
    }
  }
}

@media screen and (max-width: 1140px) {
  .nearCityAirports {
    width: 662px;

    main {
      width: 662px;

      .airportCardContainer {
        width: 310px;
      }
    }
  }
}
