.container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1200;
  display: block;
  overflow: hidden;
  transform: translateX(0);
  z-index: 100000000000;
  & > div:nth-child(1) {
    font-size: 16px;
    font-weight: 600;
    height: 44px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;

    .title {
      font-size: 14px;
    }

    .closeIcon {
      position: absolute;
      z-index: 111;
      right: 5px;
      right: 0;
      height: 44px;
      width: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      & > svg {
        fill: #0c73fe;
        width: 14px;
        height: 14px;
      }
    }
  }
  .datesContainer {
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 100;

    .selectedBox {
      border-top: 2px solid #f57c00 !important;
      border-bottom: 2px solid #f57c00 !important;
      box-shadow: none !important;
    }

    .departureDate,
    .returnBackDate {
      width: 50%;
      height: 50px;
      display: flex;
      align-items: center;
      color: #90a4ae;
      font-weight: 400;
      font-size: 13.5px;
      background-color: #fff;
      cursor: pointer;
      border-top: 1px solid #90a4ae;
      border-bottom: 1px solid transparent;
      box-shadow: 0px 5px 5px -5.5px #00000049;
    }
    .departureDate {
      display: flex;
      justify-content: space-between;

      & > span:nth-child(1) {
        margin-left: 16px;
      }
      & > span:nth-child(2) {
        color: #0c73fe;
        margin-right: 8px;
      }
      border-left: 1px solid transparent !important;
      border-right: 2px solid #f57c00;
    }
    .returnBackDate {
      height: 50px;
      & > span {
        margin-left: 16px;
      }
      border-right: 1px solid transparent !important;
    }
  }

  .wrapper {
    width: 100% !important;
    height: 80%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;

    .hLine {
      border-top: 0.8px solid rgba(158, 158, 158, 0.4);
      display: block;
      width: 370.5px;
      width: 399px;
      left: 0px;
      top: 100px;
      height: 1px;
      position: absolute;
    }

    .calendarC {
      position: absolute !important;
      top: 116px;
      height: 100%;
      width: 90%;
      overflow: scroll;
      left: 1px;
      right: 0px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      &::-webkit-scrollbar {
        display: none;
      }
      & > div:last-child {
        margin-bottom: 100px;
      }
    }
    .noReturnTicketBtnC .noReturnTicketBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13x;
      font-weight: 600;
      color: #f57c00;
      border-radius: 5px;
      background-color: #fff;
      border: none;
      height: 40px;
      width: 88%;
      cursor: pointer;
      outline: none;
      position: fixed;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 2000;
      bottom: 10px;
      border: 1px solid #f57c00;
    }
  }
}

.slideLeft {
  animation: slideLeftAnimation 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slideLeftAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 375px) {
  .container {
    .wrapper {
      width: 375px !important;

      .hLine {
        width: 375px;
      }

      .calendarC {
        width: 336px;
        left: 0px;
      }
      .selectBtnContainer .nextBtn {
        position: fixed;
        left: 0;
      }
    }
  }
}

.slideLeft {
  animation: slideLeftAnimation 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slideLeftAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
