// 90% of originalSize

// .title {
//   font-size: 25.2px;
//   font-weight: 500;
//   margin: auto;
//   width: 962px;
//   margin-top: 0;
//   position: relative;
//   bottom: 230px;
//   user-select: none;
// }
// .container {
//   width: 962px;
//   min-height: 288px;
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   margin: auto;
//   margin-top: 36.2px;
//   position: relative;
//   bottom: 230px;
// }

// @media screen and (max-width: 1140px) {
//   .title {
//     width: 662px;
//   }
//   .container {
//     width: 662px;
//     min-height: 428px !important;
//     justify-content: center;
//   }
// }

.container {
  width: 1002px;
  min-height: 400px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  .wrapper {
    min-height: 450px;
    width: 601px;

    .heading {
      display: flex;
      h1 {
        font-size: 21px;
        line-height: 30px;
        font-weight: 800;
        margin-top: 2px;
        margin-left: 14px;
      }
    }
    .cards {
      margin-top: 5px;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 1140px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .wrapper {
      .planeIcon {
        img {
          width: 31px;
          height: 31px;
          display: inline-block;
        }
      }
      .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .cards {
        margin-top: 14px;
      }
    }
  }
}
